<body>
    <div class="sidenav">
        <a href="/" style="color: white">EmpatA</a>
        <hr>
        <br>
        <a href="/Home">Home</a>
        <a href="/Progetta">Progetta</a>
        <a href="/impara">Impara</a>
        <a href="/">Misura</a>
        <a href="/about">About</a>

        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br>
        {{>footer}}
    </div>
    
    
</body>
